{% extends 'layout.html' %}

{%block title%}
Inicio
{%endblock%}

{%block body%}
<div class="row p-5">

    <div class="col-6">
        <h3>ingrese nuevo pais </h3>
        <form action="/agregar_pais" method="POST">
            <label for="nombre">nonbre</label>
            <input class="form-control" type="text" name="nombre" placeholder="Argentina">
            <button type="submit" class="btn btn-submit btn-success mt-3">
                agegar
            </button>
        </form>
    </div>

    <div class="col-6">

        <table class="table">
            <thead>
                <tr>
                    <th>pais</th>
                    <th>accion</th>
                </tr>
            </thead>
            <tbody>
                {% for pais in paises %}
                <tr>
                    <td scope="row">{{pais.nombre}}</td>
                    <td>
                        <a href="/borrar_pais/{{pais.id}}" class="btn-btn-danger">Borrar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </div>
</div>
{%endblock%}