{% extends 'layout.html' %}

{%block title%}
Inicio
{%endblock%}

{% block custom_css %}
<link rel="stylesheet" href="../static/css/main.css">
{% endblock %}

{%block body%}

{% for message in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show mt-4" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<form class="row mx-0 mt-4" action="/agregar_publicacion" method="POST">
    <select class="col-12 p-2 my-2" name="usuario_id" id="select">
        {% for usuario in usuarios %}
            <option value="{{usuario.id}}">{{usuario.nombre}}</option>
        {% endfor %}
    </select>
    <input class="form-control col-10 my-1" type="text" name="descripcion" placeholder="Publica algo">
    <button class="btn-submit btn btn-outline-primary p-0 col-2 my-1" type="submit" style="font-size: 25px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-send d-flex align-items-center mx-auto" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
        </svg>
    </button>
</form>


<section class="border-bottom">
    <hr>
    <div class="row mx-0">
        {% for publicacion in publicaciones %}
            {% include 'publicacion.html' %}
        {% endfor %}
    </div>
</section>

{%endblock%}