<nav class="navbar navbar-expand-xl navbar-dark separador-bottom">
    <a class="navbar-brand" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-arrows-fullscreen" style="color:white;" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z" />
        </svg>
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item my-2">
                <a class="nav-link" href="/tendencias">Tendencias</a>
            </li>
            <li class="nav-item my-2 mr-2">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li>
                <form class="mx-0 my-2 row p-0" style="width: 30rem;" action="/borrar_usuario" method="POST">
                    <select class="p-2 col-9 mr-3" name="usuario_id" style="background-color: rgb(8, 8, 8);
                    color: rgb(255, 255, 255)">
                        {% for usuario in usuarios %}
                            <option value="{{usuario.id}}">{{usuario.nombre}}</option>
                        {% endfor %}
                    </select>
                    <button class="btn-submit btn btn-outline-danger p-0 col-2" type="submit">borrar</button>
                </form>
            </li>
        </ul>
    </div>
</nav>