{% extends 'layout.html' %}

{%block title%}
Tendencias
{%endblock%}

{% block custom_css %}
<link rel="stylesheet" href="../static/css/tendencias.css">
{% endblock %}

{%block body%}
<div class="accordion accordion-dark mt-5 accordion-personalizado" id="accordion">
    {% for tema in temas %}
        {% if (tema.nombre != none) %}
            <div class="card">
                <div class="card-header" id="heading{{ tema.id }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ tema.id }}"
                            aria-expanded="true" aria-controls="collapse{{ tema.id }}">
                            <p>#{{tema.nombre|title}}</p>
                        </button>
                    </h2>
                </div>

                <div id="collapse{{ tema.id}}" class="collapse" aria-labelledby="heading{{ tema.id }}" data-parent="#accordion">
                    <div class="card-body">
                        <section class="border-bottom">
                            <div class="row mx-0">
                                {% for publicacion in publicaciones %}
                                    {% if publicacion.tema_id == tema.id %}
                                        {% include 'publicacion.html' %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    
</div>

{%endblock%}